{{#if products}}
    {{#each products}}
        {{#if card}}
            <div class="card">
                <a href="" class="card__link-add">Agregar al carrito</a>
                <article class="card__article">
                    <div class="card__image-container">
                        <img class="card__image" src="img/{{image}}" alt="{{name}}">
                    </div>
                    <div class="card__content">
                        <h2 class="card__heading">{{name}}</h2>
                        <div class="card__description">
                            <p>{{shortDescription}}</p>
                        </div>
                        <div class="card__price">
                            <p>$<span class="card__price__number">{{price}}</span></p>
                        </div>
                    </div>
                </article>
            </div>
        {{/if}}
    {{/each}}
{{else}}
    <h2>No se encontraron productos</h2>
{{/if}}